.navbar-nav {
    position: relative;
    top: 0px; 
    left: 90px;
    right: 0px;
    bottom: 0px;

}

.Twonavbar-nav {
    position: relative;
    top: 0px; 
    left: 900px;
    right: 0px;
    bottom: 0px;
}

.Images {
    position: relative;
    top: 33px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.btn-group {
    position: relative;
    top: -3px; 
    left: 230px;
    right: 0px;
    bottom: 0px;

}



.input-group {
    position: relative;
    top: -42px; 
    left: 450px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.dropdown {
    position: relative;
    top: -105px; 
    left: 800px;
    right: 0px;
    bottom: 0px;
}

.button-visov{
    position: relative;
    top: -165px; 
    left: 1050px;
    right: 0px;
    bottom: 0px;

}

.Fornavbar{
    position: relative;
    top: -110px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
 }

.dropdown2 {
    position: relative;
    top: -115px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tivirp {
    position: relative;
    top: -40px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.card {
    position: relative;
    top: -20px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.card-title2 {
    text-align: center;
}

.card-title3 {
    text-align: center;
}

.button-visov3 {
    position: relative;
    top: 7px; 
    left: 280px;
    right: 0px;
    bottom: 0px;
}

.pochti_konec{
    position: relative;
    top: 30px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.hochu_spat {
    position: relative;
    top: 70px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.pochti_konec1{
    position: relative;
    top: 70px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.button-visov4 {
    position: relative;
    top: 120px; 
    left: 170px;
    right: 0px;
    bottom: 0px;
}

.tivirp2 {
    position: relative;
    top: 400px; 
    left: -70px;
    right: 50px;
    bottom: 50px;
}

.vse {
    position: relative;
    top: 255px; 
    left: 320px;
    right: 0px;
    bottom: 20px;
}

.dropdown3 {
    position: relative;
    top: 0px; 
    left: -7px;
    right: 0px;
    bottom: 20px;
}

a {

    color: black;
}

