.navbar-nav {
    position: relative;
    top: 0px; 
    left: 250px;
    right: 0px;
    bottom: 0px;

}

.Twonavbar-nav {
    position: relative;
    top: 0px; 
    left: 1300px;
    right: 0px;
    bottom: 0px;
}

.Images {
    position: relative;
    top: 33px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.btn-group {
    position: relative;
    top: -3px; 
    left: 230px;
    right: 0px;
    bottom: 0px;

}


.input-group {
    position: relative;
    top: -42px; 
    left: 450px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.dropdown {
    position: relative;
    top: -105px; 
    left: 870px;
    right: 0px;
    bottom: 0px;
}

.button-visov{
    position: relative;
    top: -165px; 
    left: 1150px;
    right: 0px;
    bottom: 0px;

}

.dropdown2 {
    position: relative;
    top: -115px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.tivirp {
    position: relative;
    top: -65px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.card {
    position: relative;
    top: -25px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.card-title2 {
    text-align: center;
}

.card-title3 {
    text-align: center;
}

.button-visov3 {
    position: relative;
    top: 7px; 
    left: 330px;
    right: 0px;
    bottom: 0px;
}

.pochti_konec{
    position: relative;
    top: 30px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.hochu_spat {
    position: relative;
    top: 70px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.pochti_konec1{
    position: relative;
    top: 70px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

}

.button-visov4 {
    position: relative;
    top: 120px; 
    left: 200px;
    right: 0px;
    bottom: 0px;
}

.tivirp2 {
    position: relative;
    top: 400px; 
    left: 0px;
    right: 0px;
    bottom: 50px;
}

.vse {
    position: relative;
    top: 255px; 
    left: 380px;
    right: 0px;
    bottom: 20px;
}

.dropdown3 {
    position: relative;
    top: 0px; 
    left: 40px;
    right: 0px;
    bottom: 20px;
}